@mixin remove-button-styles {
  padding: 0;
  border: 0;
  background: none;
}

@mixin base-button {
  border: 0;
  padding: 5px 15px;
  font-size: 1rem;
  font-weight: $font-weight-bold;
  color: $white;
}

@mixin default-button {
  @include base-button;
  
  background-color: $green;
}
