.default-button {
  @include default-button;
  position: relative;

  &.is-loading {
    color: $green;

    &:before {
      content: 'Loading...';
      position: absolute;
      color: white;
    }
  }

  &.is-hidden {
    display: none;
  }
}

.twitter-button {
  @include base-button;

  background-color: $twitter-blue;
}
