// Palette
$dark-grey: #333;
$green: #7cb842;
$white: #fff;

// Fonts
$default-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$default-font-size: 14px;
$default-line-height: 1.42857;

$tile-width: 6rem;

$font-weight-light: 300;
$font-weight-normal: 500;
$font-weight-bold: 700;
